<div class="span7 row feed_row">
  <div class=" item-container-body">
    <div class="item-header">
      <%= image_tag gravatar_url, :class => "item-user-image"%>
      <span class="item-header-user">Horace Williams</span>
      <span class="points-container">
        <span class="entypo-icon">8</span>
        <span class="points">12 </span>
      </span>
    </div>

    <br/>
    <span class="text-item-body">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type
      specimen book. It has survived 
    </span>

    <br/>
    <br/>
    <div>
      <span class="item-time">10 minutes ago</span>
      <span class="raphael-icon post-logo">E</span>
      <span class="raphael-icon refeed">0</span>
    </div>
  </div>
</div>
