<div class="span12">

  <% if @items %>
    <!-- Text Item Mocked data -->
    <br/>
    <div class="item_container"> 
      <div class="span7 row feed_row">
        <div class=" item-container-body">
          <div class="item-header">
            <span class="item-header-user">Horace Williams</span>
            10 minutes ago
            <span class="raphael-icon">E</span>
            <span class="points-container">
              <span class="raphael-icon points">@</span>
              <span class="points">12 </span>
            </span>
          </div>

          <br/>
          <span class="text-item-body">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived 
          </span>
        </div>
      </div>
      <div class="well span3">
        testing
      </div>
    </div>

    <!-- Twitter Mocked Data -->
    <div class="item_container"> 
      <div class="span7 row feed_row">
        <div class=" item-container-body">
          <div class="item-header">
            <span class="item-header-user">Horace Williams</span>
            12 minutes ago
            <span class="raphael-icon">^</span>
            <span class="points-container">
              <span class="raphael-icon points">@</span>
              <span class="points">10 </span>
            </span>
          </div>

          <br/>
          <span class="text-item-body">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's</span>
        </div>
      </div>
    </div>

    <!-- Link Mocked Data -->
    <div class="item_container"> 
      <div class="span7 row feed_row">
        <div class=" item-container-body">
          <div class="item-header">
            <span class="item-header-user">Chris Anderson</span>
            1 hour ago
            <span class="raphael-icon post-logo">È</span>
            <span class="points-container">
              <span class="raphael-icon points">@</span>
              <span class="points">5 </span>
            </span>

          </div>

          <br/>
          <span class="text-item-body">
            <%= link_to "http://google.com" %>
            <br/>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's</span>
        </div>
      </div>
    </div>

    <!-- Image Mocked Data -->
    <div class="item_container"> 
      <div class="span7 row feed_row">
        <div class=" item-container-body">
          <div class="item-header">
            <span class="item-header-user">Chris Anderson</span>
            1 hour ago
            <span class="raphael-icon post-logo">N</span>
            <span class="points-container">
              <span class="raphael-icon points">@</span>
              <span class="points">500 </span>
            </span>

          </div>

          <br/>
          <span class="text-item-body">
            <%= link_to "http://google.com" %>
            <br/>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's</span>
        </div>
      </div>
    </div>

    <% @items.each do |item| %>
      <div class="item_container"> 
        <div class="span7 row feed_row">

          <%= render :partial => "item", :locals => {:item => item} %>
        </div>
      </div>
    <% end %>
    
  <% end %>
</div>

<div class="span12">
  <%= paginate @stream_items %>
</div>
