
- content_for :head do
  javascript:
    $(function() {
      $("#forms").html("#{j render :partial => "messages/form"}")
      $('.actions').children('input:submit').addClass('btn btn-primary btn-large');
    });
    $("#add_message").live('click', function(){
      $("#forms").html("#{j render :partial => "messages/form"}")
      make_active(this);
      $('.actions').children('input:submit').addClass('btn btn-primary btn-large');
    })
    $("#add_link").live('click', function(){
      $("#forms").html("#{j render :partial => "links/form"}")
      make_active(this);
      $('.actions').children('input:submit').addClass('btn btn-primary btn-large');
    })
    $("#add_image").live('click', function(){
      $("#forms").html("#{j render :partial => "images/form"}")
      make_active(this);
      $('.actions').children('input:submit').addClass('btn btn-primary btn-large');
    })
    $(function() {
      $("#post_forms").show();
      $("#privacy").hide();
      $("#services").hide();
      $("#subscriptions").hide();
      $("#account").hide();
      show_sidebar_for_error();
    });
    $(function(){
      $('.alert').delay(1600).fadeOut(200);
    });
    function show_div_for_error() {
      var error_class = $("#error_explanation h2").attr("class");
      if (error_class != null) {
        $("#add_" + error_class).click();
      }
      $('#error_explanation').delay(2000).fadeOut(1000)
    }
    function show_sidebar_for_error() {
      var label_text = $("#.field_with_errors label").text();
      if (label_text == "Password") {
        $("#account_id").click();
      }
    }
    $("#posts_id").live('click', function() {
      $("#post_forms").show();
      $("#account").hide();
      $("#privacy").hide();
      $("#services").hide();
      $("#subscriptions").hide();
    });
    $("#privacy_id").live('click', function() {
      $("#privacy").show();
      $("#post_forms").hide();
      $("#services").hide();
      $("#subscriptions").hide();
      $("#account").hide();
    });
    $("#services_id").live('click', function() {
      $("#services").show();
      $("#post_forms").hide();
      $("#privacy").hide();
      $("#subscriptions").hide();
      $("#account").hide();
    });
    $("#subscriptions_id").live('click', function() {
      $("#subscriptions").show();
      $("#post_forms").hide();
      $("#privacy").hide();
      $("#services").hide();
      $("#account").hide();
    });
    $("#account_id").live('click', function() {
      $("#account").show();
      $("#post_forms").hide();
      $("#privacy").hide();
      $("#services").hide();
      $("#subscriptions").hide();
    });
    $(function(){
      var sidebar=$('#sidebar');
      sidebar.delegate('a', 'click',function(){
        sidebar.find('.active').toggleClass('active inactive');
        $(this).toggleClass('active inactive');
      });
    });
    function make_active(post) {
      var posts=$('#post_forms');
      posts.find('.post_label').removeClass('active')
      posts.find('.post_label').addClass('inactive')
      $(post).removeClass('inactive')
      $(post).addClass('active');
    }
    $(function(){
      $('.actions').children('input:submit').addClass('btn btn-primary btn-large');
    });

.span2.logged_in_sidebar
  div.span2
    div#post_forms.fe-container
      = link_to "#", :class => "active post_label", :id => "add_message" do
        =content_tag(:span, "Text")
        =image_tag("message_icon.png")
      |&nbsp;&nbsp;&nbsp;&nbsp;
      = link_to "#", :class => "inactive post_label", :id => "add_link" do
        =content_tag(:span, "Link")
        =image_tag("link_icon.png")
      |&nbsp;&nbsp;&nbsp;&nbsp;
      = link_to "#", :class => "inactive post_label", :id => "add_image" do
        =content_tag(:span, "Image")
        =image_tag("image_icon.png")
      br
      br
      - [@image, @message, @link].each do |post|
        - if post.errors.any?
          #error_explanation
            h2 class="#{post.class.to_s.downcase}" #{pluralize(post.errors.count, "error")} prohibited this #{post.class.to_s.downcase} from being saved:
            ul
              - post.errors.full_messages.each do |message|
                li = message
      div#forms
        hr
    div#privacy
      div
        h2 Privacy
        br
        - if dashboard_posts_private?
          = render :partial => "dashboard/posts_private"
        - else
          = link_to "Make my posts private", nil, :class => "btn btn-primary btn-large"
    div#services
      - if current_user.subscriptions.any?
        div.fe-container
          =render partial: "subscriptions/subscriptions_table"
      div.fe-container
        =render partial: "subscriptions/disconnected_table"
    div#subscriptions
      div
        h2 Subscriptions
        br
        table.table.table-striped
          tbody
            tr
              td Elise Worthy
              td
                = link_to "Remove", nil, :class => "btn btn-small btn-info"
            tr
              td Jonan Scheffler
              td
                = link_to "Remove", nil, :class => "btn btn-small btn-info"
            tr
              td Andrew Thal
              td
                = link_to "Remove", nil, :class => "btn btn-small btn-info"
            tr
              td Travis Valentine
              td
                = link_to "Remove", nil, :class => "btn btn-small btn-info"

    div#account
      div
        h2 Account Settings
        = render partial: "users/update_password"
        = link_to "Disable Account", nil, :class => "btn btn-medium"
