<div class="main-image">
  <%= image_tag current_user.background_image %>
</div>

<div class='grey-box span8 offset2'>
  <h3>Edit Your Account</h3>
  <hr />

  <%= render 'devise/registrations/form', :resource => resource %>
</div>
