<h1> Dashboard </h1>
<br />
<h3>Last 5 posts</h3>
<br />
<table class='table table-bordered'>
  <tr>
    <th>Post Title</th>
    <th>Post Type</th>
    <th>Posted</th>
  </tr>
<%= render partial: "shared/mini_post", collection: @posts %>
</table>

<br><br>

<%= render partial: "posts/form" %>

<%= link_to "Create a New Post", new_post_path, :class => 'btn btn-info' %>
