<br/>
<div class="span12 external-services-container">
  <h1>Link Twitter Account</h1>
  <br/>

  <div>
    <div class="span3">
      <%= image_tag "/assets/twitter.png" %>
      <span class="twitter-label">Twitter</span>
      <%= link_to "Connect", "users/auth/twitter", :class => "btn btn-large" %>
  </div>
  <div class="span3 service-continue-container">
    <%= link_to "Skip This Step", signup_twitter_skip_path, :class => "btn-primary btn-large service-btn" %>
  </div>
</div>

