p Hi #{@user.display_name},
p You just signed up for the most Super Hot Feed Engine there is. Good for you, man.
p Check out all the super hot feeds #{link_to "here", @url}.
br/
| xox, the Super Hot Team