<script id="instagramimage_template" type="text/html">
  <li class="post">
    <p><img class="service" src="assets/instagram_64.png">{{caption}}</p>
    <p><img class="instagram_img" src="{{content}}"></p>
    <p class="posted">grammed {{post_time}} ago</p>
  </li>
</script>