<script id="instagramimage_template" type="text/html">
  <li class="post">
    <h2 class="points" id="points_{{post_id}}">{{points}}</h2>
    <a class="addpoints" id="{{post_id}}" href="{{addpoint}}"><img class="thumb" src="assets/thumb.png"></a>
    <p><img class="service" src="assets/instagram_64.png">{{caption}}</p>
    <p><img class="instagram_img" src="{{content}}"></p>
    <p class="posted">grammed {{post_time}} ago</p>

  </li>
</script>