<h1>POINTS FEED</h1>
<h2>Take a Point, Give a Point, Get the Point?</h2>

<h3>Posts</h3>
<table>
  <tr>
    <th>Post Title</th>
    <th>Post Type</th>
    <th>Posted</th>
  </tr>
    <%= render partial: "shared/mini_post", collection: @posts %>
</table>

<%= paginate @posts %>