<div class="main-image">
  <% if current_user %>
    <img src="/assets/post.jpg">
  <% else %>
    <img src="/assets/welcome.jpg">
  <% end %>
</div>

<div class="root">
  <div class="row">
    <div class="span12">
      <div class="row">
        <% if current_user %>
          <div class="well span4">
        <% else %>
          <div class="span4">
            <h1>Welcome to Points Feed</h1>
            <h3>Take a Point, Give a Point, Get the Point?</h3>
            </br>
            <p>Nostrud quis tattooed, next level squid nulla eu put a bird on it est pinterest fap bespoke synth art party cred. Williamsburg put a bird on it wayfarers, next level DIY quinoa post-ironic thundercats leggings banksy. Messenger bag pour-over sapiente sartorial officia mumblecore. Vice polaroid hoodie readymade id.</p>
            <br>
            <h3>Not a member yet? Sign up for free!</h3>
            <%= link_to "Register", signup_path, :class => 'btn btn-info' %><br>
            <br>
            <h3>Already a member?</h3>
            <%= render partial: "devise/sessions/signin_form" %>
          </div>
          <div class="span3">
            &nbsp
          </div>
          <div class="well span4">
        <% end %> 
            <div class="login-right">
              <h3>Most Recent Posts</h3>
              <br />
              <% @posts.each do |post| %>
                <hr />
                <%= render "posts/show_#{post.template}", :post => post %>
              <% end %>
              <%= paginate @posts %>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
