<div class="main-image">
  <% if current_user %>
    <img src="/assets/post.jpg">
  <% else %>
    <img src="/assets/welcome.jpg">
  <% end %>
</div>

<div class="root">
  <div class="row">
    <div class="span12">
      <div class="row">
        <div class='span6 offset1'>
          <div class='black-transparent-box'>
            <h3>Welcome to PointsFeed</h3>
            <hr />
            <p>
              Have too many social media platforms? PointsFeed allows you to combine
              your twitter, instagram, etc feeds into a single - easy to
              navigate interface. Check it out!
            </p>
          </div>
        </div>

        <div class='span3' style='margin-left: 40px; width: 260px'>
          <div class='well'>
            <form method='post' action='<%= new_user_session_path %>'>
              <input type='text' placeholder='Email' name='user[email]' />
              <input type='password' placeholder='Password' name='user[password]' />
              <div style='float: right;'>
                <input type='submit' value='Sign In' class='btn btn-info' />
              </div>
            </form>
          </div>

          <div class='well'>
            <form method='post' action='<%= user_registration_path %>'>
              <input type='text' placeholder='Display Name' name='user[display_name]' />
              <input type='text' placeholder='Email' name='user[email]' />
              <input type='password' placeholder='Password' name='user[password]' />
              <input type='password' placeholder='Password Confirmation' name='user[password_confirmation]' />
              <div style='float:right'>
                <input type='submit' value='Create An Account' class='btn btn-warning' />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
