script type="text/html" id="link_post_template"
  <div class="post well">
    <div class="pull-right">
      <a href="/link_posts/{{id}}/edit">Edit</a>
      <br />
      <a href="/link_posts/{{id}}" data-confirm="Are You Sure" data-method="delete" rel="nofollow">Remove</a>
    </div>
    <a href="{{link_url}}" target="_blank">{{link_url}}</a>
    {{#comment}}
    {{#type}}



    #####Incomplete######