script type="text/html" id="text_post_template"
  <div class="post well">
    <div class="pull-right">
      <a href="/text_posts/{{id}}/edit">Edit</a>
      <br />
      <a href="/text_posts/{{id}}" data-confirm="Are You Sure" data-method="delete" rel="nofollow">Remove</a>
    </div>
    {{text}}
    {{#type}}



    #####Incomplete######