<p><strong>Link Twitter</strong></p>
<a href="users/auth/twitter" class="auth_provider">
  <%= image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter" %>
  Twitter
</a>
<br/>
<%= link_to "Skip this Step", dashboard_path %>
