<script id="tweet_template" type="text/html">
  <div class="post">
    <li class="postbody">
      <p><img class="service" src="assets/twitter_64.png"> @{{handle}} {{content}} </p>
      <p class="posted">tweeted {{tweet_time}} ago</p>
    </li>
  </div>
</script>