<script id="tweet_template" type="text/html">
  <div class="post">
    <li class="postbody">
      <p> {{content}} </p>
      <p class="posted">tweeted {{tweet_time}} ago</p>
    </li>
  </div>
</script>