<script id="tweet_template" type="text/html">
  <li class="post">
    <p><img class="service" src="assets/twitter_64.png"> @{{handle}} {{content}} </p>
    <p class="posted">tweeted {{post_time}} ago</p>
    <p class="points">points: {{points}}</p>
    <a class="addpoints" href="{{addpoint}}">add point</a>
  </li>
</script>