<div id="item-input" class="item-container">
  <ul class="nav nav-tabs" id="submit_tabs">
    <li><a href="#text" id="text-tab" data-toggle="tab">
      <span class="raphael-icon">E</span>Text
    </a></li>
    <li><a href="#link" id="link-tab" data-toggle="tab">
      <span class="raphael-icon">È</span>Link
    </a></li>
    <li><a href="#image" id="image-tab" data-toggle="tab">
      <span class="raphael-icon">N</span>Image
      </a></li>
  </ul>

  <div class="tab-content" >
    <div class="tab-pane" id="text">
      <%= render 'text_items/form' %>
    </div>
    <div class="tab-pane" id="link">
      <%= render 'link_items/form' %>
    </div>
    <div class="tab-pane" id="image">
      <%= render 'image_items/form' %>
    </div>
  </div>
</div>
