<br/>
<div class="row">
<div class="dashboard-title span3">
  <h1>Dashboard</h1>
</div>
</div>

<br/>
<div class="span6">
<%= render :partial => 'dashboard/item_input' %>
<%= render :partial => 'dashboard/dashboard_settings' %>
</div>

<div id="dashboard-posts" class="span5">
  <% if @stream_items %>
    <% @stream_items.each do |stream_item| %>
      <%= render :partial => "feed/item", :locals => { :item => stream_item } %>
    <% end %>
  <% end %>
</div>

