<div class="home-image">
  <img src="/assets/welcome.jpg">
</div>

<div class="root">
  <div class='row'>
    <div class='span6 offset3 grey-box well'>
      <h3>Sign In</h3>
      <hr />
      <%= render partial: "signin_form" %>
    </div>
</div>