<script id="githubevent_template" type="text/html">
  <div class="post">
    <li class="postbody">
      <p><img class="service" src="assets/github_64.png"> {{content}} <a class = "repo" href="http://www.github.com/{{repo}}" target="blank">{{repo}}</a></p>

      <p class="posted">posted {{post_time}} ago</p>
    </li>
  </div>
</script>