<script id="githubevent_template" type="text/html">
  <div class="post">
    <li class="postbody"> 
      <h2 class="points" id="points_{{post_id}}">{{points}}</h2>
      <a class="addpoints" id="{{post_id}}" href="{{addpoint}}"><img class="thumb" src="assets/thumb.png"></a>
      </br>
      </br>
      <p><img class="service" src="assets/github_64.png"> {{content}} </p>
      <p class="posted">posted {{post_time}} ago</p>
    </li>
  </div>
</script>