<script id="githubevent_template" type="text/html">
  <div class="post">
    <li class="postbody">
      <p><img class="service" src="assets/github_64.png"> {{content}} </p>
      <p class="posted">posted {{post_time}} ago</p>
      <a class="refeed" id="{{id}}">Refeed me!</a>
    </li>
  </div>
</script>