.main-image{
  position: fixed;
  min-width: 1024px;
  min-height: 800px;
  top: 39px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: hidden;
  z-index: -4;
}

.feed { 
  width: 200px;
  display: inline-block;
  float: left;
  padding: 10px;
}

.feed-delete{
  color: gray;
}