h1 Welcome!
br
h3 Here is a list of viewable feeds
br
- @users.each do |user|
  br
  = link_to user.display_name, root_url(:subdomain => user.subdomain)
br
= link_to 'root', root_url(:subdomain => false)