<script id="link_template" type="text/html">
  <div class="post">
    <li class="postbody" href="{{content}}" target='_blank'>
      <p>{{content}}</p>
      </br>
      <p>{{comment}}</p>
      <p class='posted'>posted {{created_at}} ago</p>
    </li>
  </div>
</script>