script type="text/html" id="image_post_template"
  <div class="post well">
    <div class="pull-right">
      <a href="/image_posts/{{id}}/edit">Edit</a>
      <br />
      <a href="/image_posts/{{id}}" data-confirm="Are You Sure" data-method="delete" rel="nofollow">Remove</a>
    </div>
    <div class="thumbnail">
      <img src={{image_url}}>
    </div>
    {{#comment}}
    {{#type}}

    #####Incomplete######