tr
  td #{subscription.provider.capitalize}
  td #{link_to "Disconnect", subscription_path(subscription), class: "btn btn-danger", method: :delete, confirm: "Are you sure you want to remove your #{subscription.provider.capitalize} account?" }