h3= link_to "Connect with Twitter", "/auth/twitter"

h4= link_to "Skip this step", dashboard_path(:notice => "Thanks for signing up! If you would like to link your twitter account later, go to the services section of your profile.")
