<br/>
<br/>
<br/>
<br/>
<div class="span3 offset4 trout-container">
  <h1 class="login-title">troutr</h1>

  <br/>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <%= f.email_field :email, :placeholder => "Email", :class => "login-fields" %>

    <%= f.password_field :password, :placeholder => "Password", :class => "login-fields" %>

    <div><%= f.submit "Log In", :class => "login-button offset1 btn-primary btn-large" %></div>
  <% end %>
</div>
