<div class="main-image">
  <img src="/assets/welcome.jpg">
</div>

<h1>As a member, you can connect one of your social media accounts to Feed Engine.</h1>

<h2>Please select one of the resources below</h2>

<a href="/auth/twitter"><img src="/assets/twitter_128.png"></a>
<br>

<%= link_to "Skip This Step", skip_twitter_path %>