body {
  color:white;
}

.main-image{
  position: fixed;
  min-width: 1024px;
  min-height: 800px;
  top: 39px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: hidden;
  z-index: -4;
}

#links{
  position: relative;
  width: 100%;
}

.links{
  border-right: 2px solid white;
  height: 50px;
}