<div class="post">
  {{#photo}}
    {{#image}}
      <img src="{{url}}">
      {{description}}
    {{/image}}
  {{/photo}}
  {{#link}}
    <a href="{{link}}">{{link}}</a>
  {{/link}}
  {{#text}}
    {{text}}
  {{/text}}
</div>