.row
  .content_bar
    div.row
      h2 Dashboard
      dl.nice.contained.awesome-tabs
        dd#message= link_to "Add a Message", "#", class: ("active" if @type == 'Message' || @type.nil? )
        dd#image= link_to "Add an Image", "#", class: ("active" if @type == 'Image')
        dd#link= link_to "Add a Link", "#", class: ("active" if @type == 'Link')
        dd= link_to "Account", edit_user_registration_path

      ul.nice.awesome-tabs-content.contained

        li#messageFormTab{ class=("active" if @type == 'Message' || @type.nil? ) }
          = render :partial => "messages/form"
        li#imageFormTab{ class=("active" if @type == 'Image') }
          = render :partial => "/images/form"
        li#linkFormTab{ class=("active" if @type == 'Link') }
          = render :partial => "/links/form"

javascript:
  api_domain = "#{api_domain.html_safe}"
  api_path = "#{api_path.html_safe}"
  authentication_token = "#{current_user.authentication_token}"
coffee:
  jQuery ->
    $("#message").click ->
      $("#imageFormTab").hide()
      $("#linkFormTab").hide()
      $("#messageFormTab").fadeIn()
      $(".active").removeClass("active")
      $("#message > a").addClass("active")
    $("#image").click ->
      $("#imageFormTab").fadeIn()
      $("#linkFormTab").hide()
      $("#messageFormTab").hide()
      $(".active").removeClass("active")
      $("#image > a").addClass("active")
    $("#link").click ->
      $("#imageFormTab").hide()
      $("#linkFormTab").fadeIn()
      $("#messageFormTab").hide()
      $(".active").removeClass("active")
      $("#link > a").addClass("active")
