@import "./colors.css.scss";

@mixin parallelogram($color, $width: 23%, $degrees: 160deg) {
  width: $width;
  height: 2em;
  -webkit-transform: skew($degrees);
  -moz-transform: skew($degrees);
  -o-transform: skew($degrees);
  -ms-transform: skew($degrees);
  background: $color;
}