<div>
  <div class="github-item-body">
    <%= github_body(item) %>
    <br/>
    <br/>
    <% if @commits %>
    <ul>
      <% @commits.each do |commit| %>
      <li class="git-commit"><a href="<%= commit["url"] %>"><%= commit["message"] %></a></li>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>
