<script type="text/template" id='TextItemTemplate'>
  <div class='row'>
    <div class='span1'>
      <img src="{{feeder.avatar}}"></img>
    </div>
    <div class='offset1'>
      <span class='light'>Posted {{created_at}} ago by <a href="#">{{feeder.name}}</a></span><br />
      {{text}}
    </div>
  </div>
  <hr />
</script>

<script type="text/template" id='TwitterFeedItemTemplate'>
  <div class='row'>
    <div class='span1'>
      <img src="{{feeder.avatar}}"></img>
    </div>
    <div class='offset1'>
      <div style='float:right'><img src='/assets/twitter_32.png'></img></div>
      <span class='light'>Posted {{created_at}} ago by <a href="#">{{feeder.name}}</a> via twitter</span><br />
      {{content}}
    </div>
  </div>
  <hr />
</script>

<script type="text/template" id='GithubFeedItemTemplate'>
  <div class='row'>
    <div class='span1'>
      <img src="{{feeder.avatar}}"></img>
    </div>
    <div class='offset1'>
      <div style='float:right'><img src='/assets/github_32.png'></img></div>
      <span class='light'>Posted {{created_at}} ago by <a href="#">{{feeder.name}}</a> via github</span><br />
      {{content}}
    </div>
  </div>
  <hr />
</script>

<script type="text/template" id='ImageItemTemplate'>
  <div class='row'>
    <div class='span1'>
      <img src="{{feeder.avatar}}"></img>
    </div>
    <div class='offset1'>
      <span class='light'>Posted {{created_at}} ago by <a href="#">{{feeder.name}}</a></span><br />
      <div class='row' style='margin-top: 20px'>
        <div class='span2'>
        
          <img src="{{image_url}}" rel="popover" class='span2 well popover-img'></img>
        </div>
        <div class='offset3'>
          {{comment}}
        </div>
      </div>
    </div>
  </div>

  <hr />
</script>

<script type="text/template" id='LinkItemTemplate'>
  <div class='row'>
    <div class='span1'>
      <img src="{{feeder.avatar}}"></img>
    </div>
    <div class='offset1'>
      <a href='{{link_url}}' class='alert alert-info span2' style='float:right; word-wrap: break-word;'>{{link_url}}</a>
      <span class='light'>Posted {{created_at}} ago by <a href="#">{{feeder.name}}</a></span><br />
      {{comment}}
    </div>
  </div>
  <hr />
</script>