<script type="text/template" id='TextItemTemplate'>
  <div class='row'>
    <div class='span7 well'>
      <div class='span1' style='margin-left: -3px'>
        <img src="{{avatar}}" style='height: 75px'></img> 
      </div>
      <div class='span4'>
        {{#refeed}}
          <span class='display-name'><a href="#">{{refeeder.display_name}}</a></span><br />
        {{/refeed}}
        {{^refeed}}
          <span class='display-name'><a href="#">{{feeder.name}}</a></span><br />
        {{/refeed}}
        <span class='text-message'>{{text}}<br /><br /></span>
        <span class='light'>Posted {{created_at}}</span><br />
      </div>
      <div class='icons' style='float: right'>
        {{#refeedable}}
          <span style=''><a href='#' class='refeed_link' data-id='{{id}}' data-user="{{feeder.name}}"><i class='icon-retweet'></i></a></span><br />
        {{/refeedable}}
          <span style='font-weight:bold;'><a href='#' class='points_link' data-id='{{id}}' data-user="{{feeder.name}}">!</a></span><br />
      </div>
    </div>
    
    {{#refeed}}
      <div class='span7 refeed_well' style='margin-top: -20px; padding-top: -20px;'>
      <span class='light'><i class='icon-retweet'></i> Refeeded by <a href="#">{{feeder.name}}</a></span><br />
      </div>
    {{/refeed}}
    
  </div>
</script>

<script type="text/template" id='TwitterFeedItemTemplate'>
  <div class='row'>
    <div class='span7 well'>
      <div class='span1' style='margin-left: -3px'>
        <img src="{{avatar}}" style='height: 75px'></img> 
      </div>
      <div class='span4'>
        {{#refeed}}
          <span class='display-name'><a href="#">{{refeeder.display_name}}</a></span><br />
        {{/refeed}}
        {{^refeed}}
          <span class='display-name'><a href="#">{{feeder.name}}</a></span><br />
        {{/refeed}}
        <span class='text-message'>{{content}}<br /><br /></span>
        <span class='light'>Posted {{created_at}} via <a href='http://www.twitter.com'>Twitter</a></span><br />
      </div>
      <div class='icons' style='float: right'>
        {{#refeedable}}
          <span style=''><a href='#' class='refeed_link' data-id='{{id}}' data-user="{{feeder.name}}"><i class='icon-retweet'></i></a></span><br />
        {{/refeedable}}
          <span style='font-weight:bold;'><a href='#' class='points_link' data-id='{{id}}' data-user="{{feeder.name}}">!</i></a></span><br />
          <span><img style='padding-top:5px;' src='/assets/twitter_25.png'></img></span>
      </div>
    </div>
    
    {{#refeed}}
      <div class='span7 refeed_well' style='margin-top: -20px; padding-top: -20px;'>
      <span class='light'><i class='icon-retweet'></i> Refeeded by <a href="#">{{feeder.name}}</a></span><br />
      </div>
    {{/refeed}}
  </div>
</script>

<script type="text/template" id='GithubFeedItemTemplate'>
  <div class='row'>
    <div class='span7 well'>
      <div class='span1' style='margin-left: -3px'>
        <img src="{{avatar}}" style='height: 75px'></img> 
      </div>
      <div class='span4'>
        {{#refeed}}
          <span class='display-name'><a href="#">{{refeeder.display_name}}</a></span><br />
        {{/refeed}}
        {{^refeed}}
          <span class='display-name'><a href="#">{{feeder.name}}</a></span><br />
        {{/refeed}}
        <span class='text-message'>{{content}}<br /><br /></span>
        <span class='light'>Posted {{created_at}} via <a href='http://www.github.com'>GitHub</a></span><br />
      </div>
      <div class='icons' style='float: right'>
        {{#refeedable}}
          <span style=''><a href='#' class='refeed_link' data-id='{{id}}' data-user="{{feeder.name}}"><i class='icon-retweet'></i></a></span><br />
        {{/refeedable}}
          <span style='font-weight:bold;'><a href='#' class='points_link' data-id='{{id}}' data-user="{{feeder.name}}">!</i></a></span><br />
          <span><img style='padding-top:5px;' src='/assets/github_25.png'></img></span>
      </div>
    </div>
    {{#refeed}}
      <div class='span7 refeed_well' style='margin-top: -20px; padding-top: -20px;'>
      <span class='light'><i class='icon-retweet'></i> Refeeded by <a href="#">{{feeder.name}}</a></span><br />
      </div>
    {{/refeed}}
  </div>
</script>

<script type="text/template" id='ImageItemTemplate'>
  <div class='row'>
    <div class='span7 well'>
      <div class='span1' style='margin-left: -3px'>
        <img src="{{avatar}}" style='height: 75px'></img> 
      </div>
      <div class='span5'>
        {{#refeed}}
          <span class='display-name'><a href="#">{{refeeder.display_name}}</a></span><br />
        {{/refeed}}
        {{^refeed}}
          <span class='display-name'><a href="#">{{feeder.name}}</a></span><br />
        {{/refeed}}
        <span style=''><a href='{{image_url}}' class='lightbox'><img style='padding-top: 10px; padding-bottom: 10px;' src='{{image_url}}'</img></a><br /></span>
        <span class='text-message'>{{comment}}<br /><br /></span>
        <span class='light'>Posted {{created_at}}</span><br />
      </div>
      <div class='icons' style='float: right'>
        {{#refeedable}}
          <span style=''><a href='#' class='refeed_link' data-id='{{id}}' data-user="{{feeder.name}}"><i class='icon-retweet'></i></a></span><br />
        {{/refeedable}}
          <span style='font-weight:bold;'><a href='#' class='points_link' data-id='{{id}}' data-user="{{feeder.name}}">!</i></a></span><br />
      </div>
    </div>
    {{#refeed}}
      <div class='span7 refeed_well' style='margin-top: -20px; padding-top: -20px;'>
      <span class='light'><i class='icon-retweet'></i> Refeeded by <a href="#">{{feeder.name}}</a></span><br />
      </div>
    {{/refeed}}
  </div>
</script>  

<script type="text/template" id='LinkItemTemplate'>
  <div class='row'>
    <div class='span7 well'>
      <div class='span1' style='margin-left: -3px'>
        <img src="{{avatar}}" style='height: 75px'></img> 
      </div>
      <div class='span4'>
        {{#refeed}}
          <span class='display-name'><a href="#">{{refeeder.display_name}}</a></span><br />
        {{/refeed}}
        {{^refeed}}
          <span class='display-name'><a href="#">{{feeder.name}}</a></span><br />
        {{/refeed}}
        <span class='text-message'><a href='{{link_url}}'>{{link_url}}</a><br /></span>
        <span class='text-message'>{{text}}<br /><br /></span>
        <span class='light'>Posted {{created_at}}</span><br />
      </div>
      <div class='icons' style='float: right'>
        {{#refeedable}}
          <span style=''><a href='#' class='refeed_link' data-id='{{id}}' data-user="{{feeder.name}}"><i class='icon-retweet'></i></a></span><br />
        {{/refeedable}}
          <span style='font-weight:bold;'><a href='#' class='points_link' data-id='{{id}}' data-user="{{feeder.name}}">!</i></a></span><br />
      </div>
    </div>
    {{#refeed}}
      <div class='span7 refeed_well' style='margin-top: -20px; padding-top: -20px;'>
      <span class='light'><i class='icon-retweet'></i> Refeeded by <a href="#">{{feeder.name}}</a></span><br />
      </div>
    {{/refeed}}
  </div>
</script>

<script type="text/template" id='InstagramFeedItemTemplate'>
  <div class='row'>
    <div class='span7 well'>
      <div class='span1' style='margin-left: -3px'>
        <img src="{{avatar}}" style='height: 75px'></img> 
      </div>
      <div class='span5'>
        {{#refeed}}
          <span class='display-name'><a href="#">{{refeeder.display_name}}</a></span><br />
        {{/refeed}}
        {{^refeed}}
          <span class='display-name'><a href="#">{{feeder.name}}</a></span><br />
        {{/refeed}}
        <span style=''><a href='{{image_url}}' class='lightbox'><img style='padding-top: 10px; padding-bottom: 10px;' src='{{image_url}}'</img></a><br /></span>
        <span class='text-message'>{{comment}}<br /><br /></span>
        <span class='light'>Posted {{created_at}} via <a href='http://instagr.am/'>Instagram</a></span><br />
      </div>
      <div class='icons' style='float: right'>
        {{#refeedable}}
          <span style=''><a href='#' class='refeed_link' data-id='{{id}}' data-user="{{feeder.name}}"><i class='icon-retweet'></i></a></span><br />
        {{/refeedable}}
          <span style='font-weight:bold;'><a href='#' class='points_link' data-id='{{id}}' data-user="{{feeder.name}}">!</i></a></span><br />
          <span><img style='padding-top:5px;' src='/assets/instagram_25.png'></img></span>
      </div>
    </div>
    {{#refeed}}
      <div class='span7 refeed_well' style='margin-top: -20px; padding-top: -20px;'>
      <span class='light'><i class='icon-retweet'></i> Refeeded by <a href="#">{{feeder.name}}</a></span><br />
      </div>
    {{/refeed}}
  </div>
</script>  