@import "./colors.css.scss";

@mixin parallelogram($color, $width: 23.5%, $degrees: 160deg, $height: 2.2em) {
  width: $width;
  height: $height;
  -webkit-transform: skew($degrees);
  -moz-transform: skew($degrees);
  -o-transform: skew($degrees);
  -ms-transform: skew($degrees);
  background: $color;
}