@import "variables";

$submit-button-padding: 10px 40px 10px 40px;

@mixin trout-button {
	background-color: $trout-main-color;
	font-family: $font;
  font-weight: 500;
  font-size: 18px;
  float: center;
  margin: 5px;
}

.btn-large {
  @include trout-button; 
}

.login-button {
  padding: 10px 40px 10px 40px;
  margin: 10px 0 0 120px;
}
