/*$trout: #567A4D;*/
$trout: #F2F2F2;
$trout-secondary: #567A4D;
$font-color: black; 
$font: "museo-slab";
$font-secondary: "blambot-pro";
$input-font-size: 20px;
$twitter-blue: #4099FF;

$trout-main-color: #567A4D; 
