/*$trout: #567A4D;*/
$trout: #F2F2F2;
$trout-secondary: #567A4D;
$font-color: black; 
$font: "museo-slab", sans-serif;
$font-secondary: "orbitron", sans-serif;
$input-font-size: 16px;
$twitter-blue: #4099FF;

$trout-main-color: #567A4D; 
$error-font-size: 16px;
$error-color: red;
