/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation
 *= require_tree .
*/
textarea {
  height:100px !important;
}
.merge-down {
  margin-top:10px !important;
}
.name {
  float:left;
  font-size:20px;
}
.growl_avatar_wrapper{
  float:left;
  width:100px;
}
.growl_post {
  float:right;
  padding-left:16px;
  width:760px;
}
.growl_points {
  float:right;
  width:100px;
  padding-bottom:10px;
}
.growl_user {
  font-size:18px;
  font-weight:bold;
}
.growl_posted {
  font-size:12px; font-weight:bold;
}
.growl_time_ago {
  font-weight:bold; font-size:11px;
}
.comments {
  background-color: #EEE;
  padding: 10px;
  margin-bottom: 20px;
}