/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.

 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

@import "bootstrap";
@import "bootstrap-responsive";

* {@include box-sizing(border-box);}

#services_toggle{
  display:none;
}

#feedonkulous{
  width:250px;
}

#sign_up_sign_in{
  margin-top:22px;
  font-size: 16px;
  font-color: black;
}

.follow-button {
  float: right;
}

#signed_in{
  margin-top:18px;
  font-size: 16px;
  font-color: black;
}

h1 {margin-bottom: 1em;}

.container.feed {
  .stream {margin-left: 5px;}
}

.post-content {
  float: left; width: 92%; position: relative;
}

.post {
  @include clearfix;
  .post-avatar {width: 8%; max-width: 100px; float: left;}
  .post-type-icon {width: 8%; max-width: 50px; float: left; margin-left: 6px; margin-top: 4px;}
  .well {width: 90%; float: right;}
  .post-image,
  .post-text,
  .post-link {
    @extend .post-content;
    img {
      display: block; width: 100%;
      margin: 0 auto 1em auto;
      border: 1px solid rgba(0,0,0,.2);
      @include border-radius(5px);
    }
    .description {
      background-color: rgba(0,0,0,.1);
      margin-bottom: 0; padding: 10px;
      @include border-radius(4px);
      @include box-shadow(0 0 5px rgba(0,0,0,.4) inset);
    }
  }
  .main-link {margin-bottom: 1em; display: block;}
  .post-actions {
    margin-left: 0;
    width: 8%;
    list-style: none;
    li {margin-bottom: 1em; text-align: right;}
    @extend .pull-right;
    .icon-thumbs-up {
      background-image: url(/assets/glyphicons-halflings.png);
      background-position: -96px -144px !important;}
    i { width: 14px; text-indent: -999em; display: block;}
  }
}
