/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation
 *= require_tree .
*/
body {
  color:#333 !important;
  font-size:14px !important;
}
textarea {
  height:100px !important;
}
.merge-down {
  margin-top:10px !important;
}
.name {
  float:left;
  font-size:20px;
}
.growl_avatar_wrapper{
  float:left;
  width:100px;
}
.message_padding {
  padding-bottom:50px;
}
.growl_points {
  float:right;
  width:100px;
  padding-bottom:10px;
}
.growl_user {
  font-size:18px;
  font-weight:bold;
}
.growl_posted {
  font-size:12px; font-weight:bold;
}
.growl_time_ago {
  font-weight:bold; font-size:11px;
}
.comments {
  background-color: rgba(255, 255, 255, .9);
  padding: 10px;
  margin-bottom: 20px;
}
#main_content{
  margin-top:40px;
  min-height:700px;
}
#footer {
  background: whiteSmoke url('footer.jpg') no-repeat top center;
  position:relative;
  margin-top: 50px;
  height:100px;
  clear: both;
}
.blue-border {
  border-color: #00A5FF;
  border-style: solid;
  border-bottom-width: 4px;
}
body {
  font-family: 'Ubuntu', sans-serif !important;
  font-size:14px;
  background-color:whiteSmoke !important;
}
.pull_right {
  float:right;
  text-align:right;
}
header {
  margin:0 auto;
  width:60%;
  text-align:center;
}
header h2{
  font-weight: 300;
  font-size: 20px;
  font-size: 2rem;
  margin-bottom: 34px;
  padding: 0 23%;
}
.content_bar {
  background-color:rgba(255, 255, 255, .9); padding:20px;
  border-radius: 5px;
}
.header_image {
  background: url('/assets/background.jpg') center fixed;
  background-repeat: no-repeat;
  background-size:cover;
  margin-top:-30px;
  width:100%;
}
.center_text{
  text-align:center;
}
ul.contained.awesome-tabs-content {
    background-color: white;
    border-bottom:2px solid #00A5FF;
}
.awesome-tabs-content li{
  border:none;
}
ul.contained.awesome-tabs-content > li {
  border:none !important;
}
.pull_down_notice {
  padding-top:90px;
}
.regrowled, .regrowl {
  margin-left:20px !important;
}
#user_search {
  float:left;
  padding-left:145px;
}
.search_box {
  margin-top:7px;
  width:500px !important;
}
.posted {
  line-height:29px;
}
.regrowled_text {
  line-height:26px;
}
.regrowled_icon {
  vertical-align: top;
}
.growl_content{
  float:none !important;
  margin:0 auto !important;
}
.meta_data_body{
  font-size:12px;
}