/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require ./reset.css
 *= require_self
 *= require_tree .
 *= require ./partials/colors
 */

$whale: #262626;
$dolphin: #545454;
$honeycomb: #e9ba26;
$clementine: #f0812b;
$slushie: #5fb8dd;
$frosting: #ea0b8c;
$aloe: #50886b;
$berry: #508395;
$wasabi: #9eae3d;
$grape: #92278f;
$spice: #eb3f3c;
$wine: #832e2f;
$white: #FFFFFF;

@mixin headers {
  padding-bottom: .25em;
  padding-right: .25em;
  padding-top: .25em;
  display: inline-block;
}

h1 {
  @include headers;
  font-size: 3em;

}

h2 {
  @include headers;
  font-size: 2.25em;
}

h3 {
  @include headers;
  font-size: 1.5em;
}

body {
  margin: 0px 5em;
  color: $white;
}

a {
  color: $white;
}