/*    --------------------------------------------------
    awesome-tabs
    -------------------------------------------------- */
/* line 177, ../../../../../../../.rvm/gems/ruby-1.9.3-p125@hungrlr/gems/zurb-foundation-2.2.1.1/vendor/assets/stylesheets/foundation/ui.css.scss */
dl.awesome-tabs {
  display: block;
  margin: 0 0 20px 0;
  padding: 0;
  height: 30px;
  border-bottom: solid 1px #ddd;
}

/* line 178, ../../../../../../../.rvm/gems/ruby-1.9.3-p125@hungrlr/gems/zurb-foundation-2.2.1.1/vendor/assets/stylesheets/foundation/ui.css.scss */
dl.awesome-tabs dt {
  display: block;
  width: auto;
  height: 30px;
  padding: 0 9px 0 20px;
  line-height: 30px;
  float: left;
  color: #999;
  font-size: 11px;
  text-transform: uppercase;
  cursor: default;
}

/* line 179, ../../../../../../../.rvm/gems/ruby-1.9.3-p125@hungrlr/gems/zurb-foundation-2.2.1.1/vendor/assets/stylesheets/foundation/ui.css.scss */
dl.awesome-tabs dt:first-child {
  padding: 0 9px 0 0;
}

/* line 180, ../../../../../../../.rvm/gems/ruby-1.9.3-p125@hungrlr/gems/zurb-foundation-2.2.1.1/vendor/assets/stylesheets/foundation/ui.css.scss */
dl.awesome-tabs dd {
  display: block;
  width: auto;
  height: 30px;
  padding: 0;
  float: left;
}

/* line 181, ../../../../../../../.rvm/gems/ruby-1.9.3-p125@hungrlr/gems/zurb-foundation-2.2.1.1/vendor/assets/stylesheets/foundation/ui.css.scss */
dl.awesome-tabs dd a {
  display: block;
  width: auto;
  height: 29px;
  padding: 0 9px;
  line-height: 30px;
  border: solid 1px #ddd;
  margin: 0 -1px 0 0;
  color: #555;
  background: #eee;
}

/* line 182, ../../../../../../../.rvm/gems/ruby-1.9.3-p125@hungrlr/gems/zurb-foundation-2.2.1.1/vendor/assets/stylesheets/foundation/ui.css.scss */
dl.awesome-tabs dd a.active {
  background: #fff;
  border-width: 1px 1px 0 1px;
  height: 30px;
}

/* line 184, ../../../../../../../.rvm/gems/ruby-1.9.3-p125@hungrlr/gems/zurb-foundation-2.2.1.1/vendor/assets/stylesheets/foundation/ui.css.scss */
.nice.awesome-tabs {
  border-bottom: solid 1px #eee;
  margin: 0 0 30px 0;
  height: 43px;
}

/* line 185, ../../../../../../../.rvm/gems/ruby-1.9.3-p125@hungrlr/gems/zurb-foundation-2.2.1.1/vendor/assets/stylesheets/foundation/ui.css.scss */
.nice.awesome-tabs dd a {
  padding: 7px 18px 9px;
  font-size: 15px;
  font-size: 1.5rem;
  color: #555555;
  background: none;
  border: none;
}

/* line 186, ../../../../../../../.rvm/gems/ruby-1.9.3-p125@hungrlr/gems/zurb-foundation-2.2.1.1/vendor/assets/stylesheets/foundation/ui.css.scss */
.nice.awesome-tabs dd a.active {
  font-weight: bold;
  color: #333;
  background: #fff;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-top: 3px solid #00a6fc;
  margin: 0 10px;
  position: relative;
  top: -5px;
}

/* line 187, ../../../../../../../.rvm/gems/ruby-1.9.3-p125@hungrlr/gems/zurb-foundation-2.2.1.1/vendor/assets/stylesheets/foundation/ui.css.scss */
.nice.awesome-tabs dd:first-child a.active {
  margin-left: 0;
}

/* line 189, ../../../../../../../.rvm/gems/ruby-1.9.3-p125@hungrlr/gems/zurb-foundation-2.2.1.1/vendor/assets/stylesheets/foundation/ui.css.scss */
dl.awesome-tabs.vertical {
  height: auto;
}

/* line 190, ../../../../../../../.rvm/gems/ruby-1.9.3-p125@hungrlr/gems/zurb-foundation-2.2.1.1/vendor/assets/stylesheets/foundation/ui.css.scss */
dl.awesome-tabs.vertical dt, dl.awesome-tabs.vertical dd, dl.nice.awesome-tabs.vertical dt, dl.nice.awesome-tabs.vertical dd {
  float: none;
  height: auto;
}

/* line 191, ../../../../../../../.rvm/gems/ruby-1.9.3-p125@hungrlr/gems/zurb-foundation-2.2.1.1/vendor/assets/stylesheets/foundation/ui.css.scss */
dl.awesome-tabs.vertical dd a {
  display: block;
  width: auto;
  height: auto;
  padding: 15px 20px;
  line-height: 1;
  border: solid 0 #ccc;
  border-width: 1px 1px 0;
  margin: 0;
  color: #555;
  background: #eee;
  font-size: 15px;
  font-size: 1.5rem;
}

/* line 192, ../../../../../../../.rvm/gems/ruby-1.9.3-p125@hungrlr/gems/zurb-foundation-2.2.1.1/vendor/assets/stylesheets/foundation/ui.css.scss */
dl.awesome-tabs.vertical dd a.active {
  height: auto;
  margin: 0;
  border-width: 1px 0 0;
  background: #fff;
}

/* line 194, ../../../../../../../.rvm/gems/ruby-1.9.3-p125@hungrlr/gems/zurb-foundation-2.2.1.1/vendor/assets/stylesheets/foundation/ui.css.scss */
.nice.awesome-tabs.vertical {
  border-bottom: solid 1px #eee;
  height: auto;
}

/* line 195, ../../../../../../../.rvm/gems/ruby-1.9.3-p125@hungrlr/gems/zurb-foundation-2.2.1.1/vendor/assets/stylesheets/foundation/ui.css.scss */
.nice.awesome-tabs.vertical dd a {
  padding: 15px 20px;
  border: none;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-top: 1px solid #eee;
  background: #fff;
}

/* line 196, ../../../../../../../.rvm/gems/ruby-1.9.3-p125@hungrlr/gems/zurb-foundation-2.2.1.1/vendor/assets/stylesheets/foundation/ui.css.scss */
.nice.awesome-tabs.vertical dd a.active {
  border: none;
  background: #00a6fc;
  color: #fff;
  margin: 0;
  position: static;
  top: 0;
  height: auto;
}

/* line 197, ../../../../../../../.rvm/gems/ruby-1.9.3-p125@hungrlr/gems/zurb-foundation-2.2.1.1/vendor/assets/stylesheets/foundation/ui.css.scss */
.nice.awesome-tabs.vertical dd:first-child a.active {
  margin: 0;
}

/* line 199, ../../../../../../../.rvm/gems/ruby-1.9.3-p125@hungrlr/gems/zurb-foundation-2.2.1.1/vendor/assets/stylesheets/foundation/ui.css.scss */
ul.awesome-tabs-content {
  margin: 0;
  display: block;
}

/* line 200, ../../../../../../../.rvm/gems/ruby-1.9.3-p125@hungrlr/gems/zurb-foundation-2.2.1.1/vendor/assets/stylesheets/foundation/ui.css.scss */
ul.awesome-tabs-content > li {
  display: none;
}

/* line 201, ../../../../../../../.rvm/gems/ruby-1.9.3-p125@hungrlr/gems/zurb-foundation-2.2.1.1/vendor/assets/stylesheets/foundation/ui.css.scss */
.no-js ul.awesome-tabs-content > li {
  display: block;
}

/* line 202, ../../../../../../../.rvm/gems/ruby-1.9.3-p125@hungrlr/gems/zurb-foundation-2.2.1.1/vendor/assets/stylesheets/foundation/ui.css.scss */
ul.awesome-tabs-content > li.active {
  display: block;
}

/* line 204, ../../../../../../../.rvm/gems/ruby-1.9.3-p125@hungrlr/gems/zurb-foundation-2.2.1.1/vendor/assets/stylesheets/foundation/ui.css.scss */
dl.contained, dl.nice.contained {
  margin-bottom: 0;
}

/* line 205, ../../../../../../../.rvm/gems/ruby-1.9.3-p125@hungrlr/gems/zurb-foundation-2.2.1.1/vendor/assets/stylesheets/foundation/ui.css.scss */
dl.contained.awesome-tabs dd a {
  padding: 0 14px;
}

/* line 206, ../../../../../../../.rvm/gems/ruby-1.9.3-p125@hungrlr/gems/zurb-foundation-2.2.1.1/vendor/assets/stylesheets/foundation/ui.css.scss */
dl.nice.contained.awesome-tabs dd a {
  padding: 7px 18px 9px;
}

/* line 208, ../../../../../../../.rvm/gems/ruby-1.9.3-p125@hungrlr/gems/zurb-foundation-2.2.1.1/vendor/assets/stylesheets/foundation/ui.css.scss */
ul.contained.awesome-tabs-content {
  padding: 0;
}

/* line 209, ../../../../../../../.rvm/gems/ruby-1.9.3-p125@hungrlr/gems/zurb-foundation-2.2.1.1/vendor/assets/stylesheets/foundation/ui.css.scss */
ul.contained.awesome-tabs-content > li {
  padding: 20px;
  border: solid 0 #ddd;
  border-width: 0 1px 1px 1px;
}

/* line 210, ../../../../../../../.rvm/gems/ruby-1.9.3-p125@hungrlr/gems/zurb-foundation-2.2.1.1/vendor/assets/stylesheets/foundation/ui.css.scss */
ul.contained.vertical.awesome-tabs-content > li {
  border-width: 1px 1px 1px 1px;
}

/* line 211, ../../../../../../../.rvm/gems/ruby-1.9.3-p125@hungrlr/gems/zurb-foundation-2.2.1.1/vendor/assets/stylesheets/foundation/ui.css.scss */
ul.nice.contained.awesome-tabs-content > li {
  border-color: #eee;
}