// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "buttons";
@import "containers";
@import "variables";

.dashboard-text-field {
  @include text-field;
  width: 400px;
}

.dashboard-password-field {
  @include text-field;
  width: 300px;
}

@mixin dashboard-text-area {
  width: 400px;
  height: 100px;
  font-size: $input-font-size;
}

.text-item-text-area {
  @include dashboard-text-area;
}

.link-item-text-area {
  @include dashboard-text-area;
  width: 400px;
}

.text-item-label {
  font-family: $font;
  font-size: 16px;
  padding: 0 0 10px 0;
}

.link-item-submit-button {
  @include trout-button;
  margin: 10px 0 0 330px;
  padding: $submit-button-padding; 
}

.dashboard-title {
  font-family: $font;
  padding: 0 0 0 30px;
}

.dashboard-posts-title {
  font-family: $font;
}

.form_field_error { 
  color: $error-color;
  font-size: $error-font-size;
  padding: 0 0 0 120px;
  background-color: transparent;
}

.password-email-label ~ .form_field_error { 
  padding: 0 0 0 0px;
}

.subscription {
  padding: 10px;
  width: 72%;
}

.subscription a.btn {
  float: right;
}

.dashboard-btn {
  margin-left: 120px;
}

.authentication {
  padding: 10px;
  width: 72%;
}

.authentication a.btn {
  float: right;
}

.dashboard-instagram {
  padding: 0 0 0 5px;
}
