// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "buttons";

.text-item-area {
  margin: 0 0 0 23px; 
  width: 450px;
}

.submit-button {
  margin: 10px 0 0 350px;
}
