// Place all the styles related to the feed controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item_owner {
  min-height: 10px;
  padding: 10px 10px 0px;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.item_container {
  min-height: 150px;
  padding: 10px 40px 0px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.item_header {
  padding: 0px 730px 10px;
  font-size: 14px;
}

$body_font_size: 16px;
$body_font: comic sans;

.text_item_body {
  font-size: $body_font_size;
  font-family: $body_font;
}

.body_image {
  max-height: 150px;
  max-width: 150px;
}
