// Place all the styles related to the feed controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.feed_row {
  padding: 0 0 0 10px;
}

.time_header {
  padding: 0px 450px 5px;
  font-size: 14px;
}

$body_font_size: 16px;
$body_font: comic sans;

.text_item_body {
  font-size: $body_font_size;
  font-family: $body_font;
}

.body_image {
  max-height: 150px;
  max-width: 150px;
}

.item_owner {
  padding: 25px 0 0 0px;
  font-size: 16px;
}

$triangle-bg-color: #F9FAF7;
$triangle-border-color: #47A94B;

.triangle-border {
	position:relative;
	padding:15px;
	margin:0em 0 1em;
	border:5px solid $triangle-border-color;
	color:#333;
  background-color: $triangle-bg-color; 
	/* css3 */
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

.triangle-border:before {
	content:"";
	position:absolute;
	bottom:-20px; /* value = - border-top-width - border-bottom-width */
	left:60px; /* controls horizontal position */
    border-width:20px 20px 0;
	border-style:solid;
    border-color:$triangle-border-color transparent;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

  /*background-color: $triangle-bg-color; */
/* creates the smaller  triangle */
.triangle-border:after {
	content:"";
	position:absolute;
	bottom:-13px; /* value = - border-top-width - border-bottom-width */
	left:67px; /* value = (:before left) + (:before border-left) - (:after border-left) */
	border-width:13px 13px 0;
	border-style:solid;
	border-color:$triangle-bg-color transparent;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

/* creates the larger triangle */
.triangle-border.right:before {
	top:10px; /* controls vertical position */
	bottom:auto;
    left:auto;
	right:-30px; /* value = - border-left-width - border-right-width */
	border-width:15px 0 15px 30px;
	border-color:transparent $triangle-border-color;
}

/* creates the smaller  triangle */
.triangle-border.right:after {
	top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
	bottom:auto;
    left:auto;
	right:-21px; /* value = - border-left-width - border-right-width */
	border-width:9px 0 9px 21px;
	border-color:transparent $triangle-bg-color;
}
