// Place all the styles related to the feed controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.feed_row {
  padding: 0 0 0 10px;
}

.item-header {
  padding: 15px 0;
  font-size: 14px;
}

.item-header-user {
  font-size: 24px;
}

$body_font_size: 16px;
$body_font: comic sans;

.text_item_body {
  font-size: $body_font_size;
  font-family: $body_font;
}

.body_image {
  max-height: 150px;
  max-width: 150px;
}

.item_owner {
  padding: 0 0 0 22px;
  font-size: 24px;
}

.item_link {
 font-size: 16px;
 word-wrap: break-word;
}

.item-container-body {
  -webkit-border-radius: 25px;
  border-radius: 5px;
  background-color: #B1D58B;
  font-size: 16px;
  margin: 30px 0 10px 0;
  padding: 10px;
}
