@import "./partials/colors.css.scss";

#flash{
  margin: auto;
  margin-top: 1em;
  text-size: 1.5em;
  text-weight: bold;
  padding: .7em;
  background-color: $wasabi;
  width: 400px;
  border-radius:3px;
  display:none;
}