$whale:       #262626;
$dolphin:     #404040;

$honeycomb:   #e9ba26;
$clementine:  #f0812b;
$slushie:     #5fb8dd;
$frosting:    #ea0b8c;

$aloe:        #50886b;
$berry:       #508395;
$wasabi:      #9eae3d;
$grape:       #92278f;
$spice:       #eb3f3c;
$wine:        #832e2f;

$white:       #FFFFFF;

.post-form {
  margin: 1em;

  label {
    color:  $berry;
  }

  textarea {
    width: 35em;
    height: 10em;
    padding: .25em;
  }
  .field {
    width: 35em;
    height: 2em;
    padding: .25em; 
  }
}