.home_sidebar {
  margin-left: 50px;
}

.home_sidebar .login,
.home_sidebar .signup {
  width: 225px;
  height: 185px;
  padding:15px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 0px #fff;
  -moz-box-shadow: 0px 2px 0px #fff;
  -webkit-box-shadow: 0px 2px 0px #fff;
  background-color: #fff;
}

.home_sidebar .signup {
  height: 305px;
}
