@import "./partials/colors.scss.css";
@import "partials/shapes";

.nav-bar {
  list-style: none;
  width: 100%;
  display: inline-block;

  a {
    display: block;
    padding: .5em;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
  }

  li {
    float: left;
    margin-left: .75em;
    postion: relative;

    ul {
      width: 100%;
      list-style: none;
      position: absolute;
      left: -9999px;

      li {
        padding-top: .2em;
        float: none;

        a {
          white-space: nowrap;
        }
        
        &:hover{
          opacity: .8;
        }
      }
    }
    &:hover{
      a{
        text-shadow: 1px 1px .15em $whale;
      }
      ul {
        background-color: $white;
        left: 0;
        li {
          a {
            text-shadow: none;
            color: $whale;
            text-decoration: none;
          }
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
  

  #dashboard {
    @include parallelogram($slushie);
  }

  #account {
    @include parallelogram($frosting);
  }

  #friends {
    @include parallelogram($honeycomb);
  }

  #derp {
    @include parallelogram($clementine);
  }

}










