@import "variables";

.password-email-label {
  font-family: $font;
  font-size: 16px;
  padding: 0 0 10px 0;
  text-align: left;
}

.new_user label {
  width: 300px;
  text-align: left;
}

input.password-change-submit {
margin-left: 0px;
}
