@import "partials/colors";

.post {
  margin: 2em 0em;
  margin-right: 2.6em;
  .postbody{
    width:100%;
    background-color: $dolphin;
    border-style: solid;
    border-width:.25em;
    border-radius: 4px;
    border-color: $clementine;
    padding: 1em;

    &:nth-child(odd){
      border-style: solid;
      border-width:.25em;
      border-radius: 4px;
      border-color: $berry;

    }
    .posted {
      color: $spice;
      float: right;
      margin-top: -1em;
    }

    img {
      width: 200px;
      height:200px;
    }
  }
}