// Place all the styles related to the river controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";
@import "containers";
@import "text";

#river-title {
  @include troutr-title;
  font-size: 43px;
  padding: 0 0 30px 0px;
}

#river-login-box {
  float: right;
}
