@import "variables";

.login-container {
  min-height: 140px; 
  padding: 50px 50px 0 50px;
  margin-bottom: 20px;
  background-color: $trout;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  font-family: $font;
}

.login-title {
  font-size: 80px;
  padding: 0 0 10px 0;
}

.login-fields {
  height: 30px;
  width: 250px;
}

.login-submit { 
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px 0px;
	background-color: #7cceee;
	border-radius: 5px;
	border-bottom-color: #333;
	border: 1px solid #61c4ea;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px 0px;
	color: #333;
	font-family: 'Verdana', Arial, sans-serif;
	font-size: 14px;
	text-shadow: #b2e2f5 0px 1px 0px;
  padding: 10px 40px 10px 40px;
}
