.blue-border {
  border-color: #00A5FF;
  border-style: solid;
  border-bottom-width: 4px;
}
body {
  font-family: 'Ubuntu', sans-serif !important;
  font-size:14px;
}
.pull_right {
  float:right;
  text-align:right;
}