body {
  color:#333 !important;
  font-size:14px !important;
  font-family: 'Ubuntu', sans-serif !important;
}
textarea {
  height:100px !important;
}
.merge-down {
  margin-top:10px !important;
}
.name {
  float:left;
  font-size:20px;
}
.growl_avatar_wrapper{
  float:left;
  width:100px;
}
.growl_post {
  padding-left:16px;
}
.growl_points {
  float:right;
  width:100px;
  padding-bottom:10px;
}
.growl_user {
  font-size:18px;
  font-weight:bold;
}
.growl_posted {
  font-size:12px; font-weight:bold;
}
.growl_time_ago {
  font-weight:bold; font-size:11px;
}
.comments {
  background-color: rgba(255, 255, 255, .9);
  padding: 10px;
  margin-bottom: 20px;
}
#main_content{
  margin-top:40px;
  min-height:700px;
}
#footer {
  background: whiteSmoke url('footer.jpg') no-repeat top center;
  position:relative;
  margin-top: 50px;
  height:100px;
  clear: both;
}
.blue-border {
  border-color: #00A5FF;
  border-style: solid;
  border-bottom-width: 4px;
}
.pull_right {
  float:right;
  text-align:right;
}
header {
  margin:0 auto;
  width:60%;
  text-align:center;
}
header h2{
  font-weight: 300;
  font-size: 20px;
  font-size: 2rem;
  margin-bottom: 34px;
  padding: 0 23%;
}
.content_bar {
  border-radius: 5px;
  background-color:rgba(255, 255, 255, .9); padding:20px;
}
.header_image {
  background: url('/assets/background-black.png') center fixed;
  background: #111;
  background-repeat: no-repeat;
  background-size:cover;
  margin-top:-30px;
  width:100%;
}
.center_text{
  text-align:center;
}
ul.contained.awesome-tabs-content {
    background-color: white;
    border-bottom:2px solid #00A5FF;
}
.awesome-tabs-content li{
  border:none;
}
ul.contained.awesome-tabs-content > li {
  border:none !important;
}
.pull_down_notice {
  padding-top:90px;
}
.regrowled, .regrowl {
  // margin-left:20px !important;
}
#user_search {
  float:left;
  padding-left:20px;
}
.search_box {
  margin-top:7px;
  width:250px !important;
  border-radius: 8px !important;
}

.posted {
  line-height:29px;
}
.regrowled_text {
  line-height:26px;
}
.regrowled_icon {
  vertical-align: top;
}

div.alert-box {
  font-size: 150%;
  padding: 15px !important;
  margin-top: 20px !important;
}

.social-icons > a > img{
  margin: 10px;
  margin-bottom: 20px;
}

.growl-box {
  margin-bottom: 10px;
  background-color:rgba(255, 255, 255, .9);
  padding: 20px 20px 5px 20px;
  border-radius: 7px;
}

.feed-title {
  background-color: whiteSmoke;
  border-radius: 7px;
  padding: 10px;
}

.filter-box {
  background-color: whiteSmoke;
  border-radius: 7px;
  padding: 5px;
}
.growl_image {
  padding:2px;
  border:1px solid #021a40;
}
.meta_data_body{
  font-size:12px;
}
.growl_footer{
  color: #999;
  font-size: 12px;
}
#link-twitter{
  background-image: url('/assets/twitter-icon.png');
  display: block;
  width: 200px;
  height: 200px;
}
#link-twitter:hover{
  background-image: url('/assets/twitter-green.png'); 
  cursor: pointer !important;
}
#unlink-twitter{
  background-image: url('/assets/twitter-dark.png');
  display: block;
  width: 200px;
  height: 200px;
}
#unlink-twitter:hover{
  background-image: url('/assets/twitter-red.png'); 
  cursor: pointer !important;
}
#link-github{
  background-image: url('/assets/github.png');
  display: block;
  width: 200px;
  height: 200px;
}
#link-github:hover{
  background-image: url('/assets/github-green.png'); 
  cursor: pointer !important;
}
#unlink-github{
  background-image: url('/assets/github-dark.png');
  display: block;
  width: 200px;
  height: 200px;
}
#unlink-github:hover{
  background-image: url('/assets/github-red.png'); 
  cursor: pointer !important;
}
#link-instagram{
  background-image: url('/assets/instagram.png');
  display: block;
  width: 200px;
  height: 200px;
}
#link-instagram:hover{
  background-image: url('/assets/instagram-green.png'); 
  cursor: pointer !important;
}
#unlink-instagram{
  background-image: url('/assets/instagram-dark.png');
  display: block;
  width: 200px;
  height: 200px;
}
#unlink-instagram:hover{
  background-image: url('/assets/instagram-red.png'); 
  cursor: pointer !important;
}
