@import "./partials/colors.css.scss";

@mixin borders($style, $color: $slushie){
  border-color: $color;
  border-radius: .25em;
  border-style: $style;
  border-width: .25em;
}

@mixin selected {
  color: $honeycomb;
  background-color: $whale;
}

.tabs {
  margin: auto;
  width: 100%;

  .tab-bar {
    @include borders(solid);
    background-color: $dolphin;
    .tab-item {
      display:inline-block;
      a {
        padding: 1em;
        font-weight: bold;
        font-family: Helvetica;
        letter-spacing: .1em;
        float: left;
        &:hover{
          @include selected;
          cursor: pointer;
        }
      }
    }
  }

  .selected {
    a {
      @include selected;
    }
  }

  .tab-body {
    background-color: $dolphin;
    .tab {
      @include borders(solid, $honeycomb);
      margin: auto;
      position:relative;
      p { color: $wasabi; }
      .errors{
        p{
          color: $spice;
          font-weight: bold;
        } 
        li {
          color: $white;
        }
      }
    }
  }
}


