@import "./partials/colors.css.scss";

@mixin borders($style, $color: $slushie){
  border-color: $color;
  border-radius: .25em;
  border-style: $style;
  border-width: .25em;
}

@mixin selected {
  color: $honeycomb;
  background-color: $whale;
}

.tabs {
  margin: auto;
  width: 100%;
  @include borders(solid, $honeycomb);
  .tab-bar {
    font-size: 0px;
    letter-spacing: 0px;
    word-spacing: 0px;
    background-color: $walrus;
    .tab-item {
      display:inline-block;
      font-size: 16px;
      a {
        padding: 1em;
        font-weight: bold;
        font-family: Helvetica;
        letter-spacing: .1em;
        float: left;
        &:hover{
          @include selected;
        }
      }
    }
    .tab-header {
      display:inline-block;
      font-size: 16px;
      a {
        padding: 1em;
        font-weight: bold;
        font-family: Helvetica;
        letter-spacing: .1em;
        float: left;
        cursor: default;
      }
    }
  }

  .selected {
    a {
      @include selected;
    }
  }

  .tab-body {
    background-color: $dolphin;
    .tab {
      margin: auto;
      position:relative;
      p { color: $wasabi; }
      .errors{
        p{
          color: $spice;
          font-weight: bold;
        } 
        li {
          color: $white;
        }
      }
    }
  }
}


