<script id="text_template" type="text/html">
  <li class="post">
    <h2 class="points" id="points_{{post_id}}">{{points}}</h2>
    <a class="addpoints" id="{{post_id}}" href="{{addpoint}}"><img class="thumb" src="assets/thumb.png"></a>
    <p> {{content}} </p>
    </br>
    </br>
    </br>
    <p class="posted">posted {{created_at}} ago</p>
  </li>
</script>