<script id="text_template" type="text/html">
  <li class="post">
    <h2 class="points" id="points_{{id}}">{{points}}</h2>
    <a class="addpoints" id="{{id}}"><img class="thumb" src="assets/thumb.png"></a>
    <p> {{content}} </p>
    </br>
    </br>
    </br>
    <p class="posted">posted {{created_at}} ago</p>
    <a class="refeed" id="{{id}}">Refeed me!</a>
  </li>
</script>