<script id="text_template" type="text/html">
  <li class="post">
    <p> {{content}} </p>
    <p class="posted">posted {{created_at}} ago</p>
    <a class="refeed" id="{{id}}">Refeed me!</a>
  </li>
</script>