<div class="home-image">
  <img src="/assets/welcome.jpg">
</div>

<div class='span6 offset3 grey-box well'>
  <h3>Forgot your password?</h3>
  <hr />

  <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= f.input :email %>
    <%= f.button :submit, "Send me reset password instructions" %>
  <% end %>
</div>