<script id="image_template" type="text/html">
  <li class="post">
    <img src='{{content}}' />
    </br>
    </br>
    <p> {{comment}}</p>
    <p class="posted"> posted {{created_at}} ago </p>
    <a class="refeed" id="{{id}}">Refeed me!</a>
  </li>
</script>